/* Wide Image + Breadcrumb */
.jumbotron{
    min-height: 300px;
    background-image: url(../img/events_wide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    margin-top: 65px;
}