/* Main Menu */
#logo {
    width: 210px;
    height: 65px;
}
.navbar {
    position: fixed;
    top: 0;
    padding-bottom: 0;
}
.nav-item {
    font-size: 20px;
    font-weight: bold;
}
li.nav-item {
    padding: 10px 20px;
}
.nav-link:hover{
    border-radius: 5px;
    background-color:#cd2122;
    color: white !important;
}
.active, .nav-link:active {
    border-radius: 5px;
    background-color:#3CC200;
    color: white !important;
}


/* Wide Image + Breadcrumb */
.breadcrumb {
    background-color: black;
}
.breadcrumb > li {
    color:white
}
.breadcrumb-item {
    font-weight: bold;
}


/* Title + Content */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #b30000;
    font-style: normal;
    margin-bottom: 3%;
    font-weight: bold;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #3a3737;
    font-style: normal;
    margin-bottom: 1%;
    font-weight: bold;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #5a5555;
  }
.cus_title{
    font-weight: bold;
    font-size: 20px;
}
.cus_content {
    text-align: justify;
}
.cus_title_justified{
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    color: #555050;
}


/* Card Hover */
.cus_card:hover .card-body,
.cus_card:hover .card-title,
.cus_card:hover a:link {
  background-color: #b30000;
  color: white;
  text-decoration: none;
  font-weight: bold;
}


/* Footer */
footer{
	background-color:#484848;
	font-size: 16px;
	text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 30px;
    color: white;
}
#cus_email_link {
    color: white;
    font-weight: bold;
}
#cus_email_link:hover{
	color: yellow;
}
#footer_title{
    font-size: 18px;
}


/**carousel link */
a {
  color: black;
}